#https://vsupalov.com/docker-arg-env-variable-guide/
#https://medium.com/vteam/configure-docker-project-for-different-environments-using-docker-compose-3-bfbef37d951c
#https://medium.com/softonic-eng/docker-compose-from-development-to-production-88000124a57c
#https://stackoverflow.com/a/48651071
#https://github.com/docker/compose/issues/6170

# production, staging, develop, etc.
ENV=develop

PHPMYADMIN_NAME=phpmyadmin
PHPMYADMIN_TAG=latest
PHPMYADMIN_OS_NAME=minideb
PHPMYADMIN_HTTP_PORT=8084
PHPMYADMIN_HTTPS_PORT=8444
PHPMYADMIN_ALLOW_ARBITRARY_SERVER=false
PHPMYADMIN_ALLOW_NO_PASSWORD=true
PHPMYADMIN_DATABASE_HOST=mariadb
PHPMYADMIN_DATABASE_PORT_NUMBER=3306
PHPMYADMIN_DATABASE_ENABLE_SSL=no
PHPMYADMIN_DATABASE_SSL_KEY=no
PHPMYADMIN_DATABASE_SSL_CERT=
PHPMYADMIN_DATABASE_SSL_CA=
PHPMYADMIN_DATABASE_SSL_CA_PATH=
PHPMYADMIN_DATABASE_SSL_CIPHERS=
PHPMYADMIN_DATABASE_SSL_VERIFY=yes

MARIADB_NAME=mariadb
MARIADB_TAG=latest
MARIADB_OS_NAME=minideb
MARIADB_ROOT_USER=root
MARIADB_ROOT_PASSWORD=changeme
